*{
    box-sizing: border-box;
    margin: 0;
}

.layout{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img{
    background-color: transparent;
    border-radius: 50%;
    width: 100px;
}

.sidebar{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.sidebar .title_Jobs{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.sidebar .side-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
}

.sidebar .side-nav .item{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.sidebar .side-nav .item:hover{
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 20, 20);
    transition: 0.2s ease-in-out;
}

.sidebar .side-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68vh;
}

.sidebar .side-profile .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.sidebar .side-profile .skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    height: auto;
}

.sidebar .side-profile .skills h5{
    font-size: 16px;
}

.sidebar .side-profile .skills .skill-tags{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    height: 25vh;
    font-weight: 400;
}

.sidebar .side-profile .skills .skill-tags .item:hover{
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 20, 20);
    transition: 0.2s ease-in-out;
}

.sidebar .side-profile .sidebar-btn button{
    border-radius: 10px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: rgb(34, 20, 20);
    color: #fff;
}

.sidebar .side-profile .sidebar-btn button:hover{
    width: 125px;
    height: 55px;
    background-color: rgb(40, 26, 26);
    transition: 0.2s ease;
}